<h1>Otaku Showboat</h1>

<!-- navigation links -->
<a href="/">Otaku Blog</a>
<a href="/weighins">Weight Goals</a>
<a href="/videos">Videos</a>
<a href="/collection">Collection</a>
<a href="/about">About</a>
<a href="http://www.joshuahogue.com" target="_blank">Portfolio</a>

<!-- social links -->
<a href="https://www.youtube.com/otakushowboat" target="_blank">YouTube</a>
<a href="https://www.twitch.tv/otakushowboat" target="_blank">Twitch</a>
<a href="https://www.twitter.com/otakushowboat" target="_blank">Twitter</a>
<a href="https://www.linkedin.com/in/joshua-hogue-17811452/" target="_blank">LinkedIn</a>
<a href="https://github.com/OtakuShowboat" target="_blank">GitHub</a>