<div>
	<table id="navtable">
		<tr>
			<td class="left"><a href="{{site.baseurl}}/">Otaku Showboat</a></td>

	<!-- navigation links -->
			<td class="center">
				<ul id="mainnav">
					<li><a href="{{site.baseurl}}/" id="home">Otaku Blog</a></li>
					<li><a href="{{site.baseurl}}/collection"id="collection">Collection</a></li>
					<li><a href="{{site.baseurl}}/about"id="about">About</a></li>
					<li><a href="http://www.joshuahogue.com" target="_blank">Portfolio</a></li>
				</ul>
			</td>

	<!-- social links -->
			<td class="right">
				<ul id="social">
					<li><a href="https://www.youtube.com/otakushowboat" target="_blank"><img src="{{site.baseurl}}/assets/images/iconmonstr-youtube-1.svg" /></a></li>
					<li><a href="https://www.twitch.tv/otakushowboat" target="_blank"><img src="{{site.baseurl}}/assets/images/iconmonstr-twitch-1.svg" /></a></li>
					<li><a href="https://www.twitter.com/otakushowboat" target="_blank"><img src="{{site.baseurl}}/assets/images/iconmonstr-twitter-4.svg" /></a></li>
					<li><a href="https://www.linkedin.com/in/joshua-hogue-17811452/" target="_blank"><img src="{{site.baseurl}}/assets/images/iconmonstr-linkedin-4.svg" /></a></li>
					<li><a href="https://github.com/OtakuShowboat" target="_blank"><img src="{{site.baseurl}}/assets/images/iconmonstr-github-1.svg" /></a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>
<script>
	highlightNav();
</script>