---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/** Site Theming */

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

nav {
	background: white;
	display: inline-block;
	height: 7%;
	width: 100%;
	z-index: 2000;
}

nav h1 {
	margin: 0;
	padding: 0;
	font-size: 3vmax;

}
nav ul {
	list-style: none;
	margin: 0;
}

nav ul li {
	display: inline;
	text-align: center;
}

#navtable td{
	border: none;
	vertical-align: center;
}

#navtable {
	border: none;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}


.left {
	font-size: 2vmax;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	width: 25%;
}

.center {
	font-size: 1.3vmax;
	padding: 0;
	margin: 0;
	text-align: center;
	
}

.right {
	font-size: 1.0vmax;
	padding-right: 1%;
	margin: 0;
	text-align: right;
	width: 25%;
}


#content {
	margin-top: 1%;
}